<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Parallax Template - Materialize</title>

  <!-- CSS -->
  <link href="css/icon.css" rel=" stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="contatos">Contato</a></li>
        <li><a class="sobre">Sobre</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a class="contatos">Contato</a></li>
        <li><a class="sobre">Sobre</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container center" id="conteudo">
    <h5>Lista de usuário</h5>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% for(let {nome, telefone, id} of data) {%>
          <tr>
            <td>
              <%=nome%>
            </td>
            <td>
              <%=telefone%>
            </td>
            <td>
              <a class="editar" name="/editar_contato?<%=id%>"><i class="material-icons">edit</i></a>
              <i class="material-icons">delete</i>
            </td>
          </tr>
          <%}%>
      </tbody>
    </table>

    

  </div>


  <!-- Scripts-->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/jquery-form.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</body>

<script>

  // contatos
  $('.contatos').click(function () {
    $.ajax({
      url: '/contatos',
      method: 'get',
      success: function (data) {
        $('#conteudo').html(data)
      }
    })
  })
  // sobre
  $('.editar').click(function () {
    // console.log($(this).attr("name"))
    $.ajax({
      url: $(this).attr("name"),
      method: 'get',
      success: function (data) {
        $('#conteudo').html(data)
      }
    })
  })
  // salvar usuario
  $('#enviar').click(function () {
    $('#form').ajaxForm({
      url: '/salvar_usuario',
      type: 'post',
      success: function (data) {
        $('#resultado').html(data)
        // document.getElementById('resultado').innerHTML = data
        console.log('Dados salvos: ', data)
      }
    }).submit();
  })

</script>

</html>